<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>FIREBASE_API_KEY</key>
    <string>replace-with-your-firebase-api-key</string>
    <key>FIREBASE_APP_ID</key>
    <string>replace-with-your-firebase-app-id</string>
</dict>
</plist>
